/* Reset Basic Style */
body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button {
  outline: none;
}

/* Layout */
.wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  padding-top: 8px;
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.input {
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  padding: 0 9px;
  margin: 0;
}

.input:focus {
  color: #333;
}

.button {
  width: 60px;
  font-size: 15px;
  background: none;
  border: 0px;
  color: #888;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* Matrix */
.matrix {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  /* ! */
  .matrix {
    text-align: center;
  }
}

.matrix__image {
  width: 100%;
}

.matrix__link {
  font-family: fantasy, cursive;
}

/* New task */
.new-task {
  margin-bottom: 1em;
}

.new-task__label {
  display: block;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  padding: 30px 0 10px;
  margin: 0 0 20px;
}

.new-task__controls {
  display: flex;
  margin-top: 1em;
}

.new-task__input {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}

/* TODO list*/
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.todo__checkbox {
  margin: 0 10px;
}

.task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__input {
  width: 226px;
  display: none;
}

.todo__item.editMode .todo__input {
  display: inline-block;
  width: 224px;
}

.todo__item.editMode .todo__label {
  display: none;
}

.todo__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed list*/
.completed__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.completed__checkbox {
  margin: 0 10px;
}

.completed__label {
  text-decoration: line-through;
  color: #888;
}

.completed__input {
  width: 226px;
  display: none;
}

.completed__item.editMode .completed__input {
  display: inline-block;
  width: 224px;
}

.completed__item.editMode .completed__label {
  display: none;
}

.completed__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.completed__delete-icon:hover {
  transform: rotateZ(0);
}
